@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-np-orange: #ff5722;
  --color-np-green: #84cc16;
  --color-np-dark: #000000;
  --color-np-grey: #f5f5f5;
  --color-np-text: #f5f5f5;

  --font-sans: var(--font-jost);
  --font-mono: var(--font-monda);

  --animate-infinite-scroll: infinite-scroll 40s linear infinite;

  /* Custom keyframes */
  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

@utility flex-center {
  @apply flex items-center justify-center;
}